<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Inesid</title>
    <link rel="stylesheet" href="/static/stylesheet.css"/>
    <%= Inesita.assets_code %>
  </head>
  <body>
  </body>
</html>
